@font-face {
  font-family: "BRLNSR";
  font-weight: 700;
  font-style: normal;
  src: url("BRLNSR.TTF");
}

@font-face {
  font-family: "AmericanCaptain";
  /* font-weight: 700; */
  font-style: normal;
  src: url("AmericanCaptain.otf");
}
